<%- include('../partials/header.ejs') %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <% if(typeof title != 'undefined') { %> Update: <%= title %> <% }else{ %> Create <% } %>
      </li>
    </ol>
  </nav>

  <form role="form" name="productForm" id="productForm" action="" method="POST" >
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input class="form-control" name="title" 
      value="<%= title %>"
      placeholder="Title" type="text" required />
    </div>
    <div class="form-group">
      <label for="brand" class="form-label">Brand</label>
      <input class="form-control" name="brand"
        value="<%= brand %>"
      placeholder="Brand" type="text" required />
    </div>
    <div class="form-group">
      <label for="category" class="form-label">Category</label>
      <select class="form-control" 
      name="category" id="category" aria-label="Select Category">
        <option selected>Select Category</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="description" 
      placeholder="Description" type="text" required><%= description %>
    </textarea>
    </div>
    <div class="form-group">
      <label for="brand class="form-label">Image</label>
      <input class="form-control" name="image" placeholder="Image" type="text" required />
    </div>

    <div class="form-group" id="color-container">
      <label for="color" class="form-label mr-2">Color:</label>
      <% colors.forEach(function(result,index) { %>
      <input class="form-control" name="colors" placeholder="Color" type="color" value="<%= result %>" />
      <% }); %>
      <input type="button" class="btn btn-primary" value="Add More Colors" onclick="addColorInput(0)" />
    </div>

    <div class="form-group">
      <label for="stock" class="form-label">Stock</label>
      <input class="form-control" name="stock"
      value="<%= stock %>"
      placeholder="Stock" type="text" required />
    </div>

    <div class="form-group">
      <label for="originalPrice" class="form-label">Price</label>
        <input class="form-control" name="originalPrice" 
        value="<%= originalPrice %>"
        placeholder="Original Price" type="text" required />
      
    </div>
    <div class="form-group">
      <label for="discount class="form-label">Discount</label>
      <input class="form-control" name="discount" 
      value="<%= discount %>"
      placeholder="Discount" type="text" required />
    </div>

    <div class="text-center">
      <button class="btn btn-primary mt-4" type="submit"> <% if(typeof title != 'undefined') { %> Update <% }else{ %> Create <% } %> Product</button>
    </div>
  </form>
  <script src="/js/products.js"></script>
  <script>
    setTimeout(function(){  
      document.getElementById('category').value= "<%= category %>"
    }, 300);
   
  </script>
</div>
