<%- include('../partials/header.ejs') %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/category">Categories</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <% if(typeof title != 'undefined') { %> Update: <%= title %> <% }else{ %> Create <% } %> 
      </li>
    </ol>
  </nav>
  <form action="" method="POST">
    <div class="form-group">
      <label for="" class="form-label">Title</label>
      <input class="form-control" type="text" name="title" placeholder="Enter category Title" value="<%if(typeof title != 'undefined'){%><%=title%><%}%>" required />
    </div>
    <div class="form-group">
      <label for="" class="form-label">Image URL</label>
      <input class="form-control" type="text" name="image" placeholder="Enter category image URL" value="<%if(typeof image != 'undefined'){%><%=image%><%}%>" />
    </div>
    <div class="form-group">
      <label for="" class="form-label">Description</label>
      <textarea rows="3" class="form-control" placeholder="Enter description" name="description"><%if(typeof description != 'undefined'){%><%=description%><%}%></textarea>
    </div>
    <div>
      <button class="btn btn-primary">
        <% if(typeof name != 'undefined') { %> Update <% }else{ %> Create <% } %>
      </button>
      <a href="/admin/category" class="btn btn-light">Cancel</a>
    </div>
  </form>
</div>
